<h2>hi from views/user/entries/edit.hbs</h2>

<p>Entry ID is: {{entry.id}}</p>
<h3>Update your Entry here:</h3>
{{!-- [AXN] NOT SURE ABOUT THIS PART... --}}
<form action="/user/entries/{{entry.id}}?_method=PUT" method="post">
  <input type="hidden" name="entry[user_id]" value="{{req.user.id}}">

  <label for="entry_title">Title</label>
  <input type="text" id="entry_title" name="entry[title]" value="{{entry.title}}">

  <label for="entry_description">Description</label>
  <input type="text" id="entry_description" name="entry[description]" value="{{entry.description}}">

  <label for="entry_contract_name">Contract Name</label>
  <input type="text" id="entry_contract_name" name="entry[contract_name]" value="{{entry.contractName}}">

  <label for="entry_contract_parties">Contract Parties (comma-separated)</label>
  <input type="text" id="entry_contract_parties" name="entry[contract_parties]" value="{{entry.contractParties}}">

  <input type="submit" value="Submit">
</form>

<small>Note: Data cannot be updated.</small>
