
<section class="section is-small">
  <h5 class="title is-5">Update your Entry here</h5>

  <div class="container">
    <h3>Entry ID: {{entry.id}}</h3>
    <form action="/user/entries/{{entry.id}}?_method=PUT" method="post">
      <input type="hidden" name="entry[user_id]" value="{{req.user.id}}">

      <div class="field">
        <label class="label" for="entry_title">Title</label>
        <div class="control">
          <input class="input" type="text" id="entry_title" name="entry[title]" value="{{entry.title}}">
        </div>
      </div>

      <div class="field">
        <label class="label" for="entry_description">Description</label>
        <div class="control">
          <input class="input" type="text" id="entry_description" name="entry[description]" value="{{entry.description}}">
        </div>
      </div>

      <div class="field">
        <label class="label" for="entry_contract_name">Contract Name</label>
        <div class="control">
          <input class="input" type="text" id="entry_contract_name" name="entry[contract_name]" value="{{entry.contractName}}">
        </div>
      </div>

      <div class="field">
        <label class="label" for="entry_contract_parties">Contract Parties (comma-separated)</label>
        <div class="control">
          <input class="input" type="text" id="entry_contract_parties" name="entry[contract_parties]" value="{{entry.contractParties}}">
        </div>
      </div>
      <div class="field">
        <small>Note: The Data field cannot be updated as it has been submitted to the blockchain.</small>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</section>
