<h2>hi from views/user/entries/index.hbs</h2>

<p>These are your submitted Entries. Click to see full details of each Entry.</p>
<a href="/user/entries/new"><button type="button" name="button_create_new_entry">Create New Entry</button></a>
<br>
<br>
  {{#each entries as |entry| }}
    <div class="entries[]">
      Title: {{entry.title}}
      Description: {{entry.description}}
      Contract Name: {{entry.contractName}}
      Contract Parties: {{entry.contractParties}}
      Data: {{entry.data}}
      Created: {{entry.createdAt}}
      Updated: {{entry.updatedAt}}
      Entry ID: {{entry.id}}
      <a href="/user/entries/{{entry.id}}">Details</a>
    </div>
    <br>
  {{/each}}
