<h2>hi from views/user/entries/show.hbs</h2>

This is the user:
{{ user }}

<h3>Here are the details of the Entry:</h3>
<ul>
  <li>Title: {{entry.title}}</li>
  <li>Description: {{entry.description}}</li>
  <li>Contract Name: {{entry.contractName}}</li>
  <li>Contract Parties: {{entry.contractParties}}</li>
  <li>Data: {{entry.data}}</li>
  <li>Created: {{entry.createdAt}}</li>
  <li>Updated: {{entry.updatedAt}}</li>
  <li>Entry ID: {{entry.id}}</li>
</ul>

<form action="/user/entries/{{entry.id}}?_method=DELETE" method="post">
  <input type="submit" name="" value="Delete this Entry">
</form>

<form class="" action="/user/entries/{{entry.id}}/edit" method="get">
  <input type="submit" name="" value="Edit this Entry">
</form>

<h3>Here are the details of the Tierion Record:</h3>
<ul>
  <li>Hash submitted to blockchain: {{record.hash}}</li>
  <li>Data used to create hash: {{record.dataStringify}}</li>
  <li>Date submitted: {{record.date}}</li>
</ul>

<h3>Here are the details of the Blockchain Receipt:</h3>
{{!-- [AXN] needs to be fixed so that when json response is updated, the status here updates accordingly --}}
<h4>This is the status of the blockchain receipt: {{status}}</h4>
{{#if receipt}}
  {{receipt}}
  <h4>To validate this receipt, copy and paste the above receipt information into: <a href="https://tierion.com/validate" target="blank">https://tierion.com/validate</a></h4>
{{else}}
  No receipt data yet. Click button to check if receipt is ready.
{{/if}}
{{#unless statusIsComplete}}
  {{!-- [AXN] testing rendering of json response without page refresh. Not sure what will happen to the if statement section above, e.g. will it also refresh so that we will have two copies of the br receipt; OR, will it continue to show "no receipt data yet", even when this div renders the br receipt  --}}
  <button id="check_button" type="button" name="button">Check if receipt is ready</button>
  <div id="br_div">
  </div>
  {{!-- below is before i tried to use on-page ajax to return the json within the same view --}}
  {{!-- <form action="/user/entries/{{entry.id}}" method="post">
    <input type="submit" name="" value="Check if receipt is ready">
  </form> --}}
  {{else}}

{{/unless}}

{{#if sourceId }}
  <h3>Check the block that your data is anchored here: <a href="https://www.blocktrail.com/BTC/tx/{{sourceId}}" target="blank">view on Bitcoin blockchain.</a></h3>
{{/if}}
<small>
  <ul>
    <li>Notes:</li>
    <li>"queued" = Pending submission to the Bitcoin blockchain. Please wait up to 1-2 minutes (usually less).</li>
    <li>"unpublished" = Processing of the block underway. Please wait up to 1-5 minutes (usually less).</li>
    <li>"complete" = Block confirmed. Hash of your data has been anchored to the Bitcoin blockchain.</li>
  </ul>
</small>
