<h2>hi from views/user/entries/show.hbs</h2>

<p>This is the user:</p>
{{ user }}

<h3>Here are the full details of the Entry:</h3>

  Entry ID: {{entry.id}}
  Title: {{entry.title}}
  Description: {{entry.description}}
  Contract Name: {{entry.contractName}}
  Contract Parties: {{entry.contractParties}}
  Data: {{entry.data}}
  Created: {{entry.createdAt}}
  Updated: {{entry.updatedAt}}
