<h2>hi from views/user/dashboard.hbs</h2>

<p>This is the user:</p>
{{ user }}

<br>
<br>
<a href="/user/entries/new"><button type="button" name="button_create_new_entry">Create New Entry</button></a>
<a href="/verify"><button type="button" name="button_verify">Verify Entry</button></a>

<h3>{{ entries.length }} entries saved</h3>
<a href="/user/entries">See all entries</a>

<h3>Latest Entries</h3>
{{!-- [AXN] limit to top 10 entries --}}
{{#each entries as |entry| }}
  <p>
    Title: {{entry.title}}
    Description: {{entry.description}}
    Contract Name: {{entry.contractName}}
    Created: {{entry.createdAt}}
    <a href="/user/entries/{{entry.id}}">Details</a>
  </p>
{{/each}}
